<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
    <% if current_user.id == user.id%>
    <%else%>
      <% if current_user.friend?(user)%>
         <%= link_to 'Remove as a friend',  current_user.remove_friend(user), class: 'profile-link' %>
      <%else%>
        <%= link_to 'Add as a friend',  send_request_friendship_path %>
      <%end%>
    <%end%>
  </span>
</li>